.todo-list {
    padding: 0 15px;
}

.todo-list-item {
    display: table;
    width: 100%;
    margin: .9em 0 0;
}
    .todo-list-item__cell {
        display: table-cell;
        &_delete {
            text-align: right;
        }
    }
    .todo-list-item__delete {
        display: inline-block;
        text-align: right;
        width: 20px;
        color: #464646;
        cursor: pointer;
    }
